<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color: white;">
        <div class="sidebar-brand-icon rotate-n-15">

        </div>
        <div class="sidebar-brand-text mx-3"><img src="assets/img/logo.png" width="120" height="40"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a routerLinkActive="active" class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-hospital-user"></i>
            <span>Département</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/adddepartement">Ajouter une
                    departement</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/departement">Liste des departemenst</a>

            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
            aria-controls="collapse3">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Docteur</span>
        </a>
        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/adddoctor">Ajouter une medecin</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/doctor">Liste des medecins</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse22" aria-expanded="true"
            aria-controls="collapse22">
            <i class="fas fa-fw fa-procedures"></i>
            <span>Patient</span>
        </a>
        <div id="collapse22" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addpatient">Ajouter une patient</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/patient">Liste des patients</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/adddocument">Ajouter un document</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/document">Liste des documents</a>

            </div>
        </div>
    </li>

    <!--
      <li class="nav-item">
         <a class="nav-link collapsed"  href="#" data-toggle="collapse" data-target="#collapse4"
             aria-expanded="true" aria-controls="collapse4">
             <i class="fas fa-fw fa-hospital-symbol"></i>
             <span>Programme</span>
         </a>
         <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">
                 <a routerLinkActive="active" class="collapse-item" >Ajouter un horaire</a>
                 <a routerLinkActive="active" class="collapse-item" >Liste des horaires</a>  
             </div>
         </div>
     </li>
    -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
            aria-controls="collapse5">
            <i class="fas fa-fw fa-x-ray"></i>
            <span>Rendez-vous</span>
        </a>
        <div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addrendezvous">Ajouter un
                    rendez-vous</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/rendezvous">Liste des rendez-vous</a>


            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="true"
            aria-controls="collapse6">
            <i class="fas fa-fw fa-file-prescription"></i>
            <span>Prescription</span>
        </a>
        <div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addprescription">Ajouter un
                    prescription</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/prescription">Liste des prescription</a>


            </div>
        </div>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
            aria-controls="collapse7">
            <i class="fas fa-fw fa-first-aid"></i>
            <span>Compte</span>
        </a>
        <div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a routerLinkActive="active" class="collapse-item">Ajouter un compte</a>
                <a routerLinkActive="active" class="collapse-item">Liste des comptes</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/addinvoice">Ajouter une facture</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/invoice">Liste des factures</a>
                <a routerLinkActive="active" class="collapse-item">Ajouter un paiement</a>
                <a routerLinkActive="active" class="collapse-item">Liste des paiement</a>
            </div>
        </div>
    </li>
-->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
            aria-controls="collapse8">
            <i class="fas fa-fw fa-hand-holding-medical"></i>
            <span>Assurance</span>
        </a>
        <div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addinsurance">Ajouter un assurance</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/insurance">Liste des assurances</a>


            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="true"
            aria-controls="collapse9">
            <i class="fas fa-fw fa-file-medical-alt"></i>
            <span>Facture</span>
        </a>
        <div id="collapse9" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addservice">Ajouter un service</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/service">Liste des services</a>
                <!-- <a routerLinkActive="active" class="collapse-item" routerLink="/addinvoice">Ajouter une facture</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/invoice">Liste des facture</a>
               -->

            </div>
        </div>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse10" aria-expanded="true"
            aria-controls="collapse10">
            <i class="fas fa-fw fa-book-medical"></i>
            <span>Dossier</span>
        </a>
        <div id="collapse10" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addpatient">Ajouter un patient</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/patient">Liste des patients</a>


            </div>
        </div>
    </li>
-->


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse11" aria-expanded="true"
            aria-controls="collapse11">
            <i class="fas fa-fw fa-users"></i>
            <span>RH</span>
        </a>
        <div id="collapse11" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a routerLinkActive="active" class="collapse-item" routerLink="/addemployee">Ajouter un employés</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/accountant">Liste des comptables</a>

                <a routerLinkActive="active" class="collapse-item" routerLink="/nurse">Liste des infimieres</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/pharmacist">Liste des pharmaciens</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/receptionist">Liste des
                    receptioniste</a>


            </div>
        </div>
    </li>
    <!--
       <li class="nav-item">
         <a class="nav-link collapsed"  href="#" data-toggle="collapse" data-target="#collapse12"
             aria-expanded="true" aria-controls="collapse12">
             <i class="fas fa-fw fa-bong"></i>
             <span>Activités</span>
         </a>
         <div id="collapse12" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
             <div class="bg-white py-2 collapse-inner rounded">            
                <a routerLinkActive="active" class="collapse-item" >rapport des naissances</a>
                <a routerLinkActive="active" class="collapse-item" >rapport des decés</a>
                <a routerLinkActive="active" class="collapse-item" >rapport des operateurs</a>
                <a routerLinkActive="active" class="collapse-item" >rapport des investigations</a>
                <a routerLinkActive="active" class="collapse-item" >rapport des medicaments</a>
                <a routerLinkActive="active" class="collapse-item" >rapport des medecins</a>  
             </div>
         </div>
     </li>
    -->



    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse13" aria-expanded="true"
            aria-controls="collapse13">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configurations</span>
        </a>
        <div id="collapse13" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a routerLinkActive="active" class="collapse-item" routerLink="/system-config">Système</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/email-config">Email</a>
                <a routerLinkActive="active" class="collapse-item" routerLink="/hospital-config">Hopital</a>
            </div>
        </div>
    </li>





</ul>