<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Recepionistes</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>

            <th>Prenom</th>
            <th>Nom</th>
            <th>email</th>
            <th>Mobile</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>email</th>
            <th>Mobile</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>

            <td>Lance</td>
            <td>Saindon</td>
            <td>LanceSaindon@teleworm.us</td>
            <td>03.64.17.88.03</td>
            <td><button data-toggle="modal" data-target="#view" type="button" class="btn btn-primary btn-sm"><i
                  class="fas fa-address-book"></i></button>
              <button data-toggle="modal" data-target="#edit" type="button" class="btn btn-warning btn-sm"><i
                  class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm"
                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet enregistrement ?');"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>


        </tbody>
      </table>
      <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Editer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>