<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Comptes</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>

            <th>Nom de compte</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Statut</th>

          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nom de compte</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Statut</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>

            <td>anis</td>
            <td>chirgie</td>
            <td>anis</td>
            <td>22/10/2020</td>
            <td class="badge badge-success">active</td>
          </tr>


        </tbody>
      </table>
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Editer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>