<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Assurances</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>

            <th>Nom assurance</th>
            <th>Taxe</th>
            <th>code</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nom assurance</th>
            <th>Taxe</th>
            <th>code</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let item of insurances$">
            <td>{{item.insurance_name}}</td>
            <td>{{item.service_tax}}</td>
            <td>{{item.insurance_code}}</td>
            <td>
              <button data-toggle="modal" data-target="#edit" type="button" class="btn btn-warning btn-sm"><i
                  (click)="edit(item.id)" class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>


        </tbody>
      </table>
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Editer</h5>
              <button id="closeModalButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-edit-insurance></app-edit-insurance>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>