<div class="card">
   <div class="card-header">
      <strong class="card-title">Nouveau</strong>
   </div>
   <div class="card-body">
      <form class="form-inner" method="post" [formGroup]="departementForm" accept-charset="utf-8">




         <div class="form-group">
            <label for="name" class="col-xs-3 col-form-label">Nom de Department <i class="text-danger">*</i></label>
            <div class="col-md-9">
               <input name="name" type="text" class="form-control" id="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name"
                  placeholder="Nom de Department" value="">

               <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
                  <div *ngIf="submitted && f.name.errors.required">
                     {{msg.validationMessage.name}}</div>
               </div>
            </div>
         </div>


         <div class="form-group">
            <label for="description" class="col-xs-3 col-form-label">Description</label>
            <div class="col-md-9">
               <textarea name="description" class="form-control" placeholder="Description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" formControlName="description"
                  rows="7"></textarea>

               <div *ngIf="submitted && f.description.errors" class="alert alert-danger">
                  <div *ngIf="submitted && f.description.errors.required">
                     {{msg.validationMessage.description}}</div>
               </div>
            </div>
         </div>

         <!--Radio-->
         <div class="form-group">
            <label class="col-md-3 col-form-label">Statut</label>
            <div class="col-md-9">
               <div class="form-check">
                  <label class="radio-inline">
                     <input formControlName="status" type="radio" name="status" value="Active" checked="">Active</label>
                  <label class="radio-inline">
                     <input formControlName="status" type="radio" name="status" value="Inactive">Inactive</label>
               </div>
            </div>
         </div>



         <button type="reset" (click)="reset()" class="btn btn-secondary">Reset </button>

         <button type="button" (click)="add()" class="btn btn-success">Sauvegarder</button>




      </form>



   </div>
</div>