<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form class="form-inner" method="post" accept-charset="utf-8">




            <div class="form-group row">
                <label for="name" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom du service </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="name" [(ngModel)]="model.name" type="text" class="form-control" id="name"
                        placeholder="Nom du service" value="">

                </div>
            </div>


            <div class="form-group row">
                <label for="description" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">La description</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <textarea name="description" [(ngModel)]="model.description" class="form-control"
                        placeholder="La description" rows="7"></textarea>

                </div>
            </div>


            <div class="form-group row">
                <label for="quantity" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Quantité </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="quantity" [(ngModel)]="model.quantity" type="number" class="form-control" id="quantity"
                        placeholder="Quantité" value="">

                </div>
            </div>


            <div class="form-group row">
                <label for="amount" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Tarif </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="amount" [(ngModel)]="model.amount" type="number" class="form-control" id="amount"
                        placeholder="Montant" value="">

                </div>
            </div>


            <div class="form-group row">
                <label class="col-xs-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statut</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input formControlName="status" type="radio" name="status" value="1" checked="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif</font>
                            </font>
                        </label>
                        <label class="radio-inline">
                            <input formControlName="status" type="radio" name="status" value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif</font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="  ">
                    <div class="btn btn-primarys">


                        <button (click)="edit()" class="btn btn-success">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sauvegarder</font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>



        </form>



    </div>
</div>