<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus fa-fw"></i>
    <!-- Counter - Alerts -->

</a>
<!-- Dropdown - Alerts -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
    <h6 class="dropdown-header">
        Accès rapide
    </h6>
    <a class="dropdown-item d-flex align-items-center" href="/adddepartement">
        <div>
            <i class="fas fa-check fa-fw"></i>
            <span class="font-weight-bold"> ajouter département</span>
        </div>
    </a>


    <a class="dropdown-item d-flex align-items-center" routerLink="/addemployee">
        <div>
            <i class="fas fa-check fa-fw"></i>
            <span class="font-weight-bold"> ajouter employé</span>
        </div>
    </a>
    <a class="dropdown-item d-flex align-items-center" routerLink="/addpatient">
        <div>
            <i class="fas fa-check fa-fw"></i>
            <span class="font-weight-bold"> ajouter patient</span>
        </div>
    </a>
    <a class="dropdown-item d-flex align-items-center" routerLink="/adddoctor">
        <div>
            <i class="fas fa-check fa-fw"></i>
            <span class="font-weight-bold"> ajouter médecin</span>
        </div>
    </a>

    <!--<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>-->
</div>