<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Rendez vous</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Patient</th>
                        <th>Departements</th>
                        <th>Nom de medecin</th>
                        <th>Date de rendez-vous</th>
                        <th>Statut</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Patient</th>
                        <th>Departements</th>
                        <th>Nom de medecin</th>
                        <th>Date de rendez-vous</th>
                        <th>Statut</th>

                    </tr>
                </tfoot>
                <tbody>

                    <tr *ngFor="let item of appointements$">

                        <td>{{item.patient_id}}</td>
                        <td>{{item.departement_id}}</td>
                        <td>{{item.doctor_id}}</td>
                        <td>{{item.date}}</td>
                        <td><span class="badge badge-success">{{item.status}}</span></td>

                    </tr>




                </tbody>
            </table>

        </div>
    </div>
</div>